<div>
  <%=render 'commons/header' %>
</div>

<form action="create" method="post">
  <!-- 이전 페이지에서 넘어온 값 -->
  <input type="hidden" name = "email" value="<%=@pre_value[:email]%>">
  <input type="hidden" name = "pw"    value="<%=@pre_value[:pw]%>">

  <!-- CSRF 토큰 -->
  <input type= "hidden" value="<%=form_authenticity_token%>" name="authenticity_token">

  <div class="my_page">
    <span class="title">프로필</span>
    <div class="img"></div>
    
    <input name ="nickname" class="nickname" type="text" placeholder="사용하실 닉네임">
    <input name ="name"     class="name"     type="text" placeholder="이름">
    <input name ="phone"    class="phone"    type="text" placeholder="휴대폰 번호">
    
    <div class="gender">
      <span>성별</span>
      <div class="gender-button">
        <input id="man" name = "gender" type="radio" value="man"> <label for="man"><p>남자</p></label>
        <input id="woman" name = "gender" type="radio" value="woman"> <label for="woman"><p>여자</p></label>
      </div>
    </div>

    <div class="birth">
      <span>생년월일</span>
      <div class="birth-combo">
        <select name="year" id="user_year_selection">
          <option value="">태어난 연도</option>

          <%2018.downto(1900) do |i|%>
            <option value="<%=i%>>"><%=i%></option>
          <%end%>

        </select>

        <select name="month">
          <option value="">월</option>

          <%for i in 1..12%>
            <option value="<%=i%>>"><%=i%></option>
          <%end%>

        </select>

        <select name="day">
          <option value="">일</option>

          <%for i in 1..31%>
            <option value="<%=i%>>"><%=i%></option>
          <%end%>

        </select>
      </div>
    </div>

    <div class="job">
      <span>직업</span>
      <div class="job-combo" >
        <select name="job">
          <option value="">선택하세요</option>
          <option value="학생">학생</option>
          <option value="회사원">회사원</option>
          <option value="기타">기타</option>
        </select>
      </div>
    </div>

    <div class="food">
      <span>관심음식</span>
      <div class="food-combo">
        <select name="food">
          <option value="">선택하세요</option>
          <option value="한식">한식</option>
          <option value="중식">중식</option>
          <option value="일식">일식</option>
          <option value="양식">양식</option>
          <option value="기타">기타</option>
        </select>
      </div>
    </div>


    <div class="mine">
      <span class="mine-title"> 개인정보 수집 및 이용</span>

      <textarea class="text" readonly rows="5" cols="65" name="contents">
        1. 개인정보의 수집·이용 목적
        1) 홈페이지 회원 가입 및 관리
        ① 회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별 · 인증, 회원자격 유지 · 관리, 제한적 본인 확인제 시행에 따른 본인확인, 서비스 부정이용 방지
        2. 수집하는 개인정보의 항목
        1) 홈페이지 회원 가입 및 관리
        ① 필수항목 : 이름, 생년월일, 휴대폰번호, 주소, e-mail
        2) 인터넷 서비스 이용과정에서 아래 개인정보 항목이 자동으로 생성되어 수집됩니다.
        ① 접속 로그, 쿠키, 접속 IP 정보
        3. 개인정보의 보유 및 이용 기간
        1) 회원 가입 시부터 회원 탈퇴 시까지 이용하며 회원 탈퇴 시 즉시 파기됩니다.

        4. 수집동의 거부 권리 및 서비스 제한
        1) 회원 가입을 하려는 정보주체는 개인정보의 수집·이용에 대한 동의를 거부할 수 있으며, 동의 거부 시 홈페이지에 회원가입이 되지 않으며, (주)스까스까가 제공하는 회원제 서비스 이용이 제한됩니다.
      </textarea>


      <input type="checkbox" class="checkbox">
      <span class="check" required>개인정보 수집 및 이용에 동의합니다.</span>

      <input class="end" type="submit" value="가입완료">
    </div>

  </div><!-- .my_page end  -->
</form>