<div>
  <%=render 'commons/header' %>
</div>

<form action="create" method="post">
  <!-- 이전 페이지에서 넘어온 값 -->
  <input type="hidden" name = "email" value="<%=@pre_value[:email]%>">
  <input type="hidden" name = "pw"    value="<%=@pre_value[:pw]%>">

  <!-- CSRF 토큰 -->
  <input type= "hidden" value="<%=form_authenticity_token%>" name="authenticity_token">

  <div class="my_page">
    <span class="title">프로필</span>
    <div class="img"></div>

    <input name ="nickname" class="nickname" type="text" placeholder="사용하실 닉네임">
    <input name ="name"     class="name"     type="text" placeholder="이름">
    <input name ="phone"    class="phone"    type="text" placeholder="휴대폰 번호">

    <div class="gender">
      <span>성별</span>
      <div class="gender-button">
        <input name = "gender" type="checkbox" value="man">
        <input name = "gender" type="checkbox" value="woman">
      </div>
    </div>

    <div class="birth">
      <span>생년월일</span>
      <div class="birth-combo">
        <select name="year" id="user_year_selection">
          <option value="">태어난 연도</option>

          <%2018.downto(1900) do |i|%>
            <option value="<%=i%>>"><%=i%></option>
          <%end%>

        </select>

        <select name="month">
          <option value="">월</option>

          <%for i in 1..12%>
            <option value="<%=i%>>"><%=i%></option>
          <%end%>

        </select>

        <select name="day">
          <option value="">일</option>

          <%for i in 1..31%>
            <option value="<%=i%>>"><%=i%></option>
          <%end%>

        </select>
      </div>
    </div>

    <div class="job">
      <span>직업</span>
      <div class="job-combo" >
        <select name="job">
          <option value="">선택하세요</option>
          <option value="학생">학생</option>
          <option value="회사원">회사원</option>
          <option value="기타">기타</option>
        </select>
      </div>
    </div>

    <div class="food">
      <span>관심음식</span>
      <div class="food-combo">
        <select name="food">
          <option value="">선택하세요</option>
          <option value="한식">한식</option>
          <option value="중식">중식</option>
          <option value="일식">일식</option>
          <option value="양식">양식</option>
          <option value="기타">기타</option>
        </select>
      </div>
    </div>


    <div class="mine">
      <span class="mine-title"> 개인정보 수집 및 이용</span>

      <textarea class="text" readonly rows="5" cols="65" name="contents">
        개인정보의 내용은 여기에다가 적어줍니다.
        개인정보의 내용은 여기에다가 적어줍니다.
        개인정보의 내용은 여기에다가 적어줍니다.
        개인정보의 내용은 여기에다가 적어줍니다.
        개인정보의 내용은 여기에다가 적어줍니다.
        개인정보의 내용은 여기에다가 적어줍니다.
      </textarea>


      <input type="checkbox" class="checkbox">
      <span class="check" required>개인정보 수집 및 이용에 동의합니다.</span>

      <input class="end" type="submit" value="가입완료">
    </div>

  </div><!-- .my_page end  -->
</form>