<div>
  <%=render 'commons/header' %>
</div>




<form>
  <section class="profile">

    <section class="top">
      <div class="image"> </div>
      <div class="nickname"><%=session[:user]['nickname']%></div>
      <div class="level">LV.10</div>
      <div class="score"><a href="/user/edit/<%=session[:user]['id']%>">개인정보 수정하기</a></div>
    </section>  <!-- top 끝 -->

    <section class="bottom">

      <section class="left">

        <input class="nav_click"
               id="tab1" type="radio" name="nav-click"
               checked>
        <label for="tab1"
               class="label1">내가 쓴 스까</label>

        <input class="nav_click"
               id="tab2" type="radio" name="nav-click">
        <label for="tab2"
               class="label2">좋아한 스까</label>

        <input class="nav_click"
               id="tab3" type="radio" name="nav-click">
        <label for="tab3"
               class="label3">내 컬렉션</label>



        <article class="content1">

              <% for i in 0 .. 20 %>
                <div class="content">
                  <div class="picture1">
                  </div>
                  <p class="collection-name1">내가 쓴 스까</p>
                  <p class="nickname1">글쓴이1</p>
                </div>
              <% end %>

        </article>



        <article class="content2">


                <% for i in 0 .. 20 %>
                  <div class="content">
                    <div class="picture2">
                    </div>
                    <p class="collection-name2">좋아한 스까</p>
                    <p class="nickname2">글쓴이2</p>
                  </div>
                <% end %>


        </article>



        <article class="content3">


          <input class="collection-made-click"
                 id="collection-made" type="checkbox">
          <label for="collection-made" class="collection-made">컬렉션 만들기</label>

          <% for i in 0 .. 10 %>
            <div class="content<%=i%>-content">

                <%=image_tag 'collection-folder.png', class:"picture3"%>

              <p class="collection-name3">단짠단짠</p>
              <p class="nickname3"><%=i+1%></p>
            </div>
          <% end %>

        </article>

        </section>    <!-- left 끝 -->


      <section class="right">

        <div class="interest">
          <div class="interest_top">
            <span class="interest_title">관심음식</span>
            <a class="interest_all" href="#">
              전체보기</a>
          </div>

          <div class="hash1">
            <p class="subject">#치킨</p>
            <p>스까 56개</p>
          </div>

          <div class="hash2">
            <p class="subject">#치킨</p>
            <p>스까 56개</p>
          </div>

          <div class="hash3">
            <p class="subject">#치킨</p>
            <p>스까 56개</p>
          </div>

          <div class="hash4">
            <p class="subject">#치킨</p>
            <p>스까 56개</p>
          </div>

        </div> <!-- interest 끝 -->

      </section> <!-- right 끝 -->

    </section>  <!-- bottom 끝 -->
  </section>  <!-- profile 끝 -->

</form>