<div>
  <%=render 'commons/header' %>
</div>

<div id="notify_show_head_div">
  <div class="gotolist">
    <a href="/notice">목록으로</a>
  </div>

  <div class="notify_show_title">
    <p class="title"><%=@noti.title%></p>
    <p><%= @noti.created_at.to_datetime.strftime("%Y.%m.%d.%H:%M")%></p>
  </div>

  <div class="notify_show_content">
    <p><%= @noti.content %></p>
  </div>

  <div class="comment_box">
    <div class="comment_count">
    <p>댓글 <%= @count_comment %>개</p>
    </div>

    <div class="comment_content">
      <form action="/comments" method="post">
        <input type="hidden" value="<%= @token %>" name="authenticity_token">
        <input type="hidden" name="notice_id" value="<%=params[:id]%>">
        <textarea class="comment" name="comment_content" id="" cols="30" rows="10"></textarea>
        <input class="submit" type="submit" value="댓글스까">
      </form>

      <% @comments.each do |comment| %>
        <a href='/comments/<%=comment.id%>' data-confirm='진짜 삭제하시게쓰까?' data-method='DELETE'>X</a>
        <p class="comment_nickname"><%= @comments_nickname %> </p>
        <p class="comment_upload_time"><%= comment.created_at.to_datetime.strftime("%Y.%m.%d.%H:%M")%></p>
        <p class="comment_content"><%= comment.content %> </p>
        <% end %>
    </div>
  </div>
</div>