<!DOCTYPE html>
<html>
  <head>
    <title>Skaska</title>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller = "<%=controller.controller_name %>"
        data-action = "<%=controller.action_name %>"
        id="<%=controller.controller_name %>_<%=controller.action_name %>">
    <%= yield %>
  </body>
</html>
